{% extends 'base.html' %}

{% block content %}

<h2>Cadastro de Consoles</h2>
<!-- <hr>
<button>
    <a href="/">Ir para Home</a>
</button> -->
<hr>
<form action="{{url_for('cadconsoles')}}" , method="post">
    <label>Nome</label>
    <input type="text" name="nome" class="form-control" required>
    <label>País</label>
    <input type="text" name="pais" class="form-control" required>
    <label>Valor</label>
    <input type="text" name="valor" class="form-control mb-3 " required>
    <input type="submit" value="Cadastrar" class="btn btn-success">
</form>
<br>
<hr>
<h4>Consoles Cadastrados: </h4>

<table  class="table table-bordered table-hover">
    <thead>
        <th>Nome:</th>
        <th>Valor:</th>
        <th>País:</th>
    </thead>
    <tbody>
        {% for console in consoleList %}
        <tr>
            <td>{{console.Nome}}</td>
            <td>{{console.Valor}}</td>
            <td>{{console.País}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- {% for console in consoleList %}
Nome: <strong>{{console.Nome}}</strong><br>
Valor: <strong>{{console.Valor}}</strong><br>
País: <strong>{{console.País}}</strong>
<br><br>
{% endfor %} -->

{% endblock content %}